[2019-11-20 10:02] pavlenex opened #3 "Improve Pin entering UI for Trezor One"
A nit, but would be nice to have a hover effect when inputting pin, just so that people are aware something is going on, since the pin input field is tiny.

![pin](https://user-images.githubusercontent.com/36959754/69229137-28209000-0b85-11ea-93d7-c80970422123.gif)

[2019-11-21 05:55] NicolasDorier commented on #3
This should be on the btcpayserver repo, because this is btcpayserver code

[2019-11-21 09:15] pavlenex opened #4 "Improve the (home) landing page"
Right now, when someone installs the vault, it's quite unclear on what they have to do. You have only one CTA "Permissions" that does nothing and that's about it.

![vault page](https://user-images.githubusercontent.com/36959754/69323895-d12fbf00-0c47-11ea-938c-92e74385f2de.PNG)

Since it's still in alpha, that's understandable and maybe even better that it's only for those who understand what it

[2019-11-21 13:13] pavlenex opened #5 "Add pasphrase option for Trezor Model T"
Currently we don't have an option for passphrase  for Trezor T, only for Trezor One.
It should have the same UI, but for some reason it does not.
![passphrase](https://user-images.githubusercontent.com/36959754/69340992-fb45a900-0c68-11ea-8437-ae0aa66bb3f4.PNG)

To replicate, enable passphrase protection on Trezor T, try to import into store derivation settings, nothing happens.

[2019-11-22 06:11] NicolasDorier commented on #5
@pavlenex do you see ping code ?

There is no code specific to Trezor One versus T

[2019-11-22 06:36] pavlenex commented on #5
Nothing on Trezor T, it skips passphrase entry, on Trezor one it shows passphrase input.

[2019-11-24 03:32] NicolasDorier commented on #4
@pavlenex I am still wondering to make that a web app or Avalonia app like Wasabi Wallet.
If it is Avalonia app, it would be just a screen "BTCPayServer Vault is now ready to be used".
I think actually the landing page of Vault right now should offer no option to the user. Just "Ready to be used".

[2019-11-24 08:55] pavlenex commented on #4
@NicolasDorier  Yes that's nice idea, better than this, as I noticed 2 people I gave this to (familiar with btcpay) they kept clicking on permissions expecting something to happen

Maybe give a bit of information what it is and how it can be used. But I like that approach.

[2019-11-26 05:02] Eskyee opened #7 "BTCPay Server Vault v0.0.7 DMG, Quit unexpectedly"
BTCPay Server Vault v0.0.7 DMG for mac, Quit unexpectedly!!!
crash immediately upon starting ,so it doesnt work!! , i give my permission in system pref, security & Privacy, since the build is from a unidentified developer, the Documented binaries signature verification is ok!!  "Apple Mac, BTCPay can improve this unidentified developer in the future"   my mac environments:  macOS Catalina 10.15.1

[2019-11-26 09:14] pavlenex commented on #7
Same happens with 0.0.8 now.

[2019-11-26 14:01] Eskyee commented on #7
v0.0.8 same error!! in this new version @NicolasDorier

[2019-11-26 15:46] NicolasDorier commented on #4
Closing this as I moved to avalonia.

[2019-11-26 15:46] #4 closed

[2019-11-26 15:55] NicolasDorier commented on #7
Closing, fixed in v0.0.9

[2019-11-26 15:55] #7 closed

[2019-11-26 16:03] Eskyee commented on #7
confirmed fix, v0.0.9
<img width="690" alt="Screenshot 2019-11-26 at 15 58 40" src="https://user-images.githubusercontent.com/30862925/69650107-02542900-1066-11ea-9af9-06681c1329d3.png">

<img width="668" alt="Screenshot 2019-11-26 at 15 58 37" src="https://user-images.githubusercontent.com/30862925/69650121-084a0a00-1066-11ea-8224-1a5fc862840b.png">

[2019-11-26 16:40] britttttk opened #8 "Cant open Vault on mac Sierra"
Error message says you have macOS 10.12.3. The application requires macOS 10.13 or later.

Sorry if I missed this version requirement in the docs somewhere.

[2019-11-26 16:49] pavlenex opened #9 "Browsers (like Safari) can't connect to localhost without HTTPS"
We need to add an indicator that Vault can't be used with all browsers.
It seems that a [very few browsers ](https://caniuse.com/#feat=webusb)support it.
For Mac users it would be logical to try btcpay on Safari with vault and they'll see no warring of any sort.

[2019-11-26 18:42] Kukks commented on #9
I thought we had web sockets with vault?

[2019-11-26 18:46] pavlenex commented on #9
Maybe I am wrong, but if that's the true, it [should work on Safari,](https://caniuse.com/#search=web%20socket) when it fact it doesn't.

[2019-11-27 01:48] Eskyee commented on #9
@Kukks maybe Safari disallows websocket communication when using self-signed certificates ??
trying to research more on this!!  https://stackoverflow.com/questions/4014055/how-to-debug-safari-silently-failing-to-connect-to-a-secure-websocket
I read !! Chrome works fine with both the secure and non-secure host.?? we need your skills on this

[2019-11-27 02:27] Eskyee commented on #9
not too sure but I think btcpay vault is using net sockets?? need to ask @NicolasDorier

<img width="1440" alt="Screenshot 2019-11-27 at 02 12 10" src="https://user-images.githubusercontent.com/30862925/69688121-0eb7a080-10bd-11ea-80e1-0c1740329733.png">

<img width="434" alt="Screenshot 2019-11-27 at 02 19 13" src="https://user-images.githubusercontent.com/30862925/69688147-1d9e5300-10bd-11ea-821

[2019-11-27 17:04] britttttk commented on #8
can open in terminal instead with:
`/Applications/BTCPayServer\ Vault.app/Contents/MacOS/BTCPayServer.Vault`

[2019-11-27 17:15] pavlenex commented on #9
We really need to put in the UI a list of supporter browsers, nearly ever single mac user will try this on Safari and get a very unclear message like this

![Screen Shot 2019-11-27 at 10 08 20 AM](https://user-images.githubusercontent.com/36959754/69745081-c8585500-1141-11ea-835f-28fce583d623.png)

I will transfer this issue to the main repo once @NicolasDorier elaborates on the actual supported b

[2019-11-28 15:15] NicolasDorier commented on #9
@pavlenex WebUsb is not use by the Vault at all.

[2019-11-28 15:16] NicolasDorier commented on #9
The error on safari, I need to know if there is any logs in the browser. I would say it is because there is no async/await support in the browser and sadly there is no fool proof way to detect this.

[2019-11-28 16:33] Eskyee commented on #9
![Screenshot 2019-11-28 at 16 23 30](https://user-images.githubusercontent.com/30862925/69821539-e1bdd780-11fb-11ea-9b06-83f1b31647df.png)

created a test store, to find any logs of error in safari, can only find this a the moment.. when I click import from the vault ... I get this error,
<img width="1392" alt="Screenshot 2019-11-28 at 16 30 28" src="https://user-images.githubusercontent.com/30862

[2019-11-28 16:34] Eskyee commented on #9
https://github.com/LedgerHQ/ledgerjs ledger specs here!! @pavlenex

[2019-11-28 16:36] Eskyee commented on #9
https://developer.mozilla.org/en-US/docs/Web/API/Web_Authentication_API
there are many specs, which spec are we using for vault ?? @NicolasDorier

[2019-11-28 17:36] Eskyee commented on #9
<img width="1540" alt="Screenshot 2019-11-28 at 17 30 19" src="https://user-images.githubusercontent.com/30862925/69824939-5cd7bb80-1205-11ea-834b-b74487765e94.png">
<img width="1540" alt="Screenshot 2019-11-28 at 17 29 27" src="https://user-images.githubusercontent.com/30862925/69824954-6bbe6e00-1205-11ea-8666-8402fcf6c443.png">
<img width="1540" alt="Screenshot 2019-11-28 at 17 27 00" src="https

[2019-11-28 17:43] Eskyee commented on #9
nothing in crash reports about safari!! @NicolasDorier
just the old crashed BTCPay Vault versions..
<img width="1540" alt="Screenshot 2019-11-28 at 17 41 25" src="https://user-images.githubusercontent.com/30862925/69825229-71688380-1206-11ea-99c1-fa1f40e57db9.png">

[2019-11-28 17:50] Eskyee commented on #9
<img width="1440" alt="Screenshot 2019-11-28 at 17 48 41" src="https://user-images.githubusercontent.com/30862925/69825493-7aa62000-1207-11ea-91dc-070d3cf15d4c.png">
 latest version  BTCPayServer.Vault in console

[2019-11-28 17:59] Eskyee commented on #9
<img width="1440" alt="Screenshot 2019-11-28 at 17 58 17" src="https://user-images.githubusercontent.com/30862925/69825896-cefdcf80-1208-11ea-9e41-373fb9b996b5.png">

when I search any errors!! in console

[2019-11-29 07:34] NicolasDorier commented on #9
@Eskyee interesting. The problem is that the browser can't connect to localhost because it is http connection on a https page... I don't know if there is any way around that.

[2019-11-29 07:35] NicolasDorier commented on #9
There is a work around here https://stackoverflow.com/questions/39076180/https-page-was-not-allowed-to-run-insecure-content-from-safari-extension-uri

[2019-11-29 08:24] NicolasDorier commented on #9
Ok found some resources, it seems that firefox and chrome explicitely allow mixed content for localhost (see https://bugzilla.mozilla.org/show_bug.cgi?id=903966)

@Eskyee can you try this: in `vaultbridge.js` replace localhost by 127.0.0.1 and let me know if it fixes the issue.

[2019-11-29 08:35] NicolasDorier commented on #9
So according to w3c mixed content over http localhost should be authorized

- https://github.com/w3c/webappsec-mixed-content/commit/349501cdaa4b4dc1e2a8aacb216ced58fd316165
- https://w3c.github.io/webappsec-secure-contexts/#is-origin-trustworthy

BUT the safari team, in their infinite wisdom decided to now allow it, making them not compliant. https://bugs.webkit.org/show_bug.cgi?id=171934

This me

[2019-11-29 18:17] esky33kubernetes commented on #9
Hey sorry !! just back at my computer now!! will test in next hour @NicolasDorier

[2019-11-29 18:53] Eskyee commented on #9
ok I`m back from testing, I did as you said!! excellent @NicolasDorier it works .. hooray
<img width="1348" alt="Screenshot 2019-11-29 at 18 49 25" src="https://user-images.githubusercontent.com/30862925/69886324-4f8c0100-12d9-11ea-9ed6-6f8268700dd1.png">
<img width="1348" alt="Screenshot 2019-11-29 at 18 49 41" src="https://user-images.githubusercontent.com/30862925/69886335-5adf2c80-12d9-11ea-90

[2019-11-29 18:55] Eskyee commented on #9
shizz be working on Apple Safari ... ooooooooh bwoy !! excellent stuff

[2019-11-29 19:01] Eskyee commented on #9
![Screenshot 2019-11-29 at 19 00 03](https://user-images.githubusercontent.com/30862925/69886594-9d553900-12da-11ea-803f-dcc9a94a4e1b.png)

[2019-11-30 09:46] pavlenex opened #10 "[UX] Discussion on improving the instructions on how to use the Vault"
Once the vault starts it's quite unclear to people what they have to do next.
To every person I asked to try the vault, they installed it and the next question every single time was "Ok, what now?".

The current page gives this
![Screenshot 2019-11-30 at 10 44 17](https://user-images.githubusercontent.com/36959754/69898805-6294e480-135e-11ea-9f5c-01a0b085a8a2.png)

I don't have specific idea on ho

[2019-11-30 14:34] #9 closed

[2019-12-02 09:24] NicolasDorier commented on #8
So it seems that .net core 3.0 does not support below 10.13. I don't think we will fix that.
Note that wasabi wallet will have the same problem next release.

[2019-12-02 09:31] NicolasDorier commented on #10
the user should know why he is using the vault already. Else why would he even install it?

[2019-12-02 17:29] britttttk commented on #8
Closing the issue because .net core 3.0 does not support mac OS Sierra, and because I am still able to use Vault, and it works completely fine, by starting it using the command above.

[2019-12-02 17:29] #8 closed

[2019-12-02 18:52] Eskyee commented on #10
I agree the advance user would understands why he would be using vault software, a simple Pav
I’m not a developer video guide and BK docs will solve that later!! For newbies  🎉

[2019-12-02 19:27] Kukks commented on #10
I think this should come more from the integration side. Vault is merely a bridge to hardware wallets. If you present it as a way to "Sign transaction with a Hardware Wallet" or "Import from a hardware wallet", and then display either "Install Vault" or "Use Vault" dialog

[2019-12-02 21:43] pavlenex commented on #10
`Web applications` is a very board term. I know that's technically correct term, but most people will use Vault with BTCPay. Web application term itself gives no indicator to people what has to be done. I don't think every UX issue can be solved by docs, as people generally don't read docs.

Simple message saying something like:
[code]
Happy to hear other suggestions about the copy here, but I thi

[2019-12-03 08:04] NicolasDorier commented on #8
@britttttk for information why not updgrading? it cost money? your mac don't support?

[2019-12-12 05:05] NicolasDorier commented on #9
There is still the problem even with the latest version. It worked for esky at one point because he was running in debug mode on localhost.

This is a bug from safari, they work to fix it, but there is nothing I can do: https://bugs.webkit.org/show_bug.cgi?id=171934

[2019-12-13 13:06] pavlenex opened #12 "[Readme] Add instructions on how to verify download on MacOS / Windows"
Right now we only have Linux instructions, would be great to add instructions for Windows and MacOS. [Bitcoin Core ](https://bitcoincore.org/en/download/)has a great guide we can replicate and adjust to suit the Vault.

[2019-12-19 19:17] woutersamaey opened #14 "Please rename "Avalonia" titles to "BTCPay Server Vault" in Mac OS menu"
Please rename the "Avalonia" labels to "BTCPay Server Vault" in the Mac OS menu...

About Avalonia => About BTCPay Server Vault
Quit Avalonia Application => Quit BTCPay Server Vault

<img width="640" alt="Screenshot 2019-12-19 at 20 15 28" src="https://user-images.githubusercontent.com/71019/71202419-7025f600-229c-11ea-9cd9-2ddacc6a4c38.png">

[2019-12-19 19:25] woutersamaey opened #15 "Screen brightness jumps slightly higher on Mac OS when app is running. Then drops when app quits again."
When I start the app on Mac OS, the screen instantly gets a bit brighter or colors ad lighter I mean.
When I quit the app, the screen goes back to it's original state.

Not sure if "brightness" is the term. I don't think it's the LCD backlight, but I do notice a change in color when the app is running and returning it back to normal when the app is closed.

Might be an issue with Avalonia?

Not a

[2019-12-20 06:22] NicolasDorier commented on #15
mmh this is a good question. I will ask on avalonia repo.

[2019-12-20 06:27] NicolasDorier commented on #14
Good catch

[2019-12-20 07:17] #14 closed

[2020-02-03 16:56] Luca399 opened #16 "Send a message for seller"
Is it possible, when paying, above the "Contact & Refund Email", to have an optional thing like "Do you have a message for seller?", something like there is in Paypal?

<img width="290" alt="SendMessage4Seller" src="https://user-images.githubusercontent.com/59049675/73672837-e5fbea80-46ad-11ea-8b0e-5bf349790966.png">

This can be made the same like "Contact & Refund Email", so to have the option t

[2020-02-05 05:23] britttttk commented on #8
too lazy @NicolasDorier don't use it really

[2020-02-12 10:59] pavlenex commented on #10
There haven't been any complaints so far regarding this, so closing for now.

[2020-02-12 10:59] #10 closed

[2020-06-20 14:47] gradientskier opened #20 "Error when fetching device on Raspbian, Raspberry Pi"
Checked out BTCPayVault v1.0.2 and built for linux-arm. The app is starting, but it fails to interface with the hardware wallet (ledger nano s).

This is the log when importing derivation scheme from the vault.

[code]
Any idea?

[2020-06-22 07:44] NicolasDorier commented on #20
Yes, I know why. The hwi program we are using are the one distributed here: https://github.com/bitcoin-core/HWI/releases and it supports only amd64.

What you can do is compile hwi in arm32 (or arm64 if that's what you use) and replace the hwi process, then it should work.

[2020-06-22 07:50] NicolasDorier commented on #20
you can also probably take the binary shipped by https://pypi.org/project/hwi/ and replace

[2020-09-04 21:39] maltokyo opened #22 ""The user refused to sign the transaction" (latest Trezor Firmware broken process?)"
Usually, when I sign a tx to send, I would be asked for Passphrase just once.

Now, with the [latest trezor update](https://blog.trezor.io/firmware-updates-for-trezor-model-t-version-2-3-3-and-trezor-model-one-version-1-9-3-c94f7a3b6fea) things are broken.   Not sure if its firmware or not though..

I was asked for a passphrase as normal, and I entered it.  Then trezor told me to verify my passwor

[2020-09-05 08:04] Kukks commented on #22
In advanced settings, there is a new option that fixes the breaking change
from Trezor (which breaks conpatibity with PSBT spec which is why it is off
by default).

  "always include utxo transaction if possible" or something like that

On Fri, 4 Sep 2020, 23:39 maltokyo, <notifications@github.com> wrote:

[2020-09-05 14:42] maltokyo commented on #22
Hi @Kukks - thanks!  Ok, in this case, I think it could be good to include a very high profile message when the user selects "sign with HW wallet", warning of this "Trezor" issue.  I don't consider myself a tech-illiterate person, and I was completely lost how to sign with Trezor.  Had to sign with Electrum, and it worked fine.

[2020-09-05 18:13] Kukks commented on #22
Yeah, we have no clue of which device you are going to sign with, so we
can't pre-check that option..(and that option is unsuitable to be on by
default as it breaks the BIP PSBT spec). Older Trezor firmware works

On Sat, Sep 5, 2020 at 4:43 PM maltokyo <notifications@github.com> wrote:

[2020-09-05 20:42] maltokyo commented on #22
Yes, makes sense.

It worked for me now, but only after you told me.

Was only thinking that there could be a small red text on the "Send" page, that says "if you use Trezor with BTCPay Vault, you must use advanced option x...." - I guess Trezor is popular enough to warrant this?

[2020-09-23 06:41] #22 closed

[2020-10-11 21:04] CryptoCloaks opened #23 "Failing to Sign TX with Ledger X"
Currently having issues signing tx to broadcast on the Ledger X

I have the latest version of
- BTCPAYServer
- Vault
- Ledger Bitcoin App
- Ledger Firmware

**More info**
- Trying to combine 13 utxos - Doesn't work
- When manually selecting just one UTXO to try and send that allows me to broadcast
- Tried combining just two. Confirmed on the ledger and then the next screen just has view PSBT no br

[2020-10-13 12:15] NicolasDorier commented on #23
As discussed in the chat, you need to check off the box

![image](https://user-images.githubusercontent.com/3020646/95859054-fb76f780-0d98-11eb-8a78-606017cfed51.png)

"Always include non-witness UTXO if available"

We now set that to true by default to fix the segwit fee bug and to match bitcoin core behavior.
However, since it seems some wallet don't support it properly, we will revert this deci

[2020-10-13 12:15] #23 closed

[2020-10-13 13:48] NicolasDorier commented on #23
Can you try on the latest version of HWI? it may have fixed it.

[2020-11-16 15:26] jooray opened #24 "BTCPayServer.Vault fails to start on Big Sur"
Freshly installed BTCPayServer.Vault 1.0.5 on Big Sur, first install on this machine.

"Application not responding", only menu and title window without content and then crash.

Console output:

[code]

Mac's error reporting:

[code]

[2020-11-19 01:58] NicolasDorier commented on #24
Thank you that's strange I will take a look.

[2020-11-19 01:59] NicolasDorier commented on #24
The dump is very useful, I think that is a problem with avalonia. I will try to update it.

[2020-11-19 15:03] balboah opened #25 "Unable to sign BTC transaction on Ledger X"
btcpay says "No device connected." right after "enumerating" shows in the vault.

Perhaps not compatible with the latest Ledger update?

[2020-11-20 18:11] nichlor opened #26 "Unable to sign transaction on Trezor T"
Using the p2sh segwit  derivation scheme, I connected the xpubkey of BTC wallet #2 to BTC pay server. After updating the firmware, the Trezor T no longer recognizes the wallet #2.

I can see the funds in BTC pay server but I can not sign transaction due to Trezor T not recognizing the Derivation scheme. I created a second wallet 2 and the derivation scheme was not the same as one original derivati

[2020-11-20 19:25] nichlor commented on #26
additional details: i tried mac version and the windows version. of pay vault with same result.

[2020-11-20 20:53] nichlor commented on #26
new trezor desktop suite
https://suite.trezor.io/
This allowed me to make a wallet with the proper derivation scheme. I was using a p2sh segwit derivation scheme. When recreating a wallet using this scheme, it created wallet #2 with $0 and wallet #3 which was the p2sh segwit wallet with our coin.

previously it only created wallet 2. and derivation scheme was based on that wallet 2.
i have not tri

[2020-11-20 21:14] nichlor commented on #26
btcpayserver hasxpub with  -[p2sh]  tag, however wallet # 3 in trezor model T is now ypub

I have not tried to sign a transaction yet. Will update when i do.

[2020-11-22 05:45] NicolasDorier commented on #24
This problem seems to be at avalonia level, so I am waiting for them to fix, that should be soon and will release new version.

[2020-11-23 12:25] NicolasDorier commented on #25
What firmware do you run?

[2020-11-23 12:27] NicolasDorier commented on #26
hi thanks for reporting this, no worry we'll find a way.
Did you tried to sign with BTCPayServer Vault? From what you are saying, you tried to use their desktop suite, not BTCPay Server Vault.

[2020-11-23 15:51] balboah commented on #25
Tried again now with latest update to firmware: 1.2.4-5
which also reinstalled the bitcoin app which is version 1.5.1.

The Firefox version is: 83.0
Vault version: 1.0.5

same result

[2020-11-24 04:23] NicolasDorier commented on #25
ok let me try

[2020-11-24 04:25] NicolasDorier commented on #25
Tried on 1.3.21 Nano S. Worked. Trying to update to latest firmware and all.

[2020-11-24 04:30] NicolasDorier commented on #25
Tried on 1.5.1 Nano S. Does not work. Will report to ledger and make announcement.

[2020-11-24 04:36] NicolasDorier commented on #25
https://github.com/bitcoin-core/HWI/pull/403 should fix it. I will try to update.

[2020-11-24 18:12] nichlor commented on #26
i did try to sign  with the vault. I think the issue is somehow related to the fact that the new firmware recognizes the p2sh wallet as a different wallet then it originally was before the firmware wallet. Originally it was 2, and now its considered 3 on the new trezor software.

wallet 2 is split into 2 wallets. so if its requesting to sign for wallet 2  it wont sign because since update  the wal

[2020-11-25 04:08] NicolasDorier commented on #26
What is the error with BTCPay Vault?

I guess your issue with signing with vault is just because you manually entered the xpub rather than importing the hardware through the vault. Try to do this:

1. Create a new dummy store
2. Follow those steps to add your trezor https://www.youtube.com/watch?v=hh_cm8MKl2g (make sure to select p2sh)
3. Check that the dummy store's wallet has the same balance as

[2020-11-26 08:55] NicolasDorier commented on #25
Can you try to use the latest release https://github.com/btcpayserver/BTCPayServer.Vault/releases/tag/Vault%2Fv1.0.6 ? this should fix this issue. If it does, please close this issue.

[2020-11-26 10:22] balboah commented on #25
It succeeds with the enumeration now and priceeds with signing tx.
However, Ledger shows "unverified inputs, update ledger live or 3rd party application" which I haven't seen in other applications (I've never used vault before).

It's possible to ignore this warning and continue, then it works

[2020-11-26 12:17] NicolasDorier commented on #25
If you check this, you will not have warnings.

We were checking it by default before, but some user then got timeout problems with their ledgers... Let me know.

![image](https://user-images.githubusercontent.com/3020646/100350106-be0ab880-302c-11eb-8345-e843492b678c.png)

[2020-11-27 03:36] NicolasDorier commented on #26
Ah also, check this box when you sign with trezor.

![image](https://user-images.githubusercontent.com/3020646/100407959-239e8980-30ad-11eb-9d6b-4690a574d446.png)

[2020-11-30 05:08] NicolasDorier commented on #24
Ping @jooray @vbrekher @Jacquesvw can you try https://btcpayservervault.blob.core.windows.net/dist/dist-390824466/BTCPayServerVault-osx-x64-1.0.6.dmg if you have big sur?

[2020-11-30 07:09] Jacquesvw commented on #24
@NicolasDorier Thank you very much. Working for me on Big Sur.

[2020-11-30 10:32] balboah commented on #25
Thanks for the help

[2020-11-30 10:32] #25 closed

[2020-11-30 13:13] NicolasDorier commented on #24
thank you, will release new version then

[2020-12-01 04:03] NicolasDorier commented on #24
I released official version 1.0.7 https://github.com/btcpayserver/BTCPayServer.Vault/releases/tag/Vault%2Fv1.0.7

[2020-12-01 04:03] #24 closed

[2020-12-13 02:38] NicolasDorier commented on #26
@nichlor did it solved your issue?

[2020-12-13 06:10] vbrekher commented on #24
Works fine on big sur v11.0.1 (20B29). Thanks!

[2020-12-22 20:01] aaronzomback opened #27 "Error when fetching from Ledger nano s"
I receive this error when I try to generate BTC derivation scheme to configure my store with my hardware ledger wallet....

"An unexpected error happened. (Error reading JArray from JsonReader. Path '', line 0, position 0.)"

- running macOS High Sierra 10.13.6
- Ledger firmware: Secure Element 1.6.1 / Microcontroller 1.12 / Bootloader 0.11
- Bitcoin version: 1.5.1
-Tried both Firefox & Chrome
- L

[2020-12-23 13:10] NicolasDorier commented on #27
You are the second one reporting this.
I never could reproduce. I think @britttttk  tried on mac and could not as well.
Are you good enough in dotnet to debug the situation?

[2020-12-23 13:11] NicolasDorier commented on #27
Do you see better logs in btcpayserver itself? Can you run the vault in command line to maybe see more logs?

[2020-12-23 13:32] aaronzomback commented on #27
Hey @NicolasDorier thanks for the response. I decided to put this aside and connect with my electrum wallet instead, which is working. Open source FTW!

[2020-12-23 13:40] NicolasDorier commented on #27
@aaronzomback just be aware about gap limit issues (see our doc) when you do this.
Also with electrum you leak your addresses to third party. I wished you could help us to debug your issue  instead :(

[2020-12-23 13:55] aaronzomback commented on #27
@NicolasDorier didn't know that about the 3rd party leak, you mean the public keys, or IP address? I'm still interested in connecting my Ledger instead. Although I am not familiar with running dotnet. I am with command line - are there docs to run vault in command line? Maybe I can update you better with the errors then.

[2020-12-23 14:51] NicolasDorier commented on #27
yeah you can git clone this repo and run `dotnet run` from the `BTCPayServer.Vault` folder.
You need to install dotnet sdk 3.1.404 on https://dotnet.microsoft.com/download/visual-studio-sdks

You leak both, public keys and IP to the server electrum connects to.

[2020-12-25 11:12] rushi147 opened #28 "Sorry, but Bitcoin checkout with BTCPay does not appear to be working"
woocommerce checkout page error

[2020-12-25 11:13] #28 closed

[2020-12-25 11:14] pavlenex commented on #28
Please DO NOT abuse the issues.
First this is wrong repository to post your problem.
Second please provide more information when opening issue.
For support go to chat.btcpayserver.org
We use issues ONLY for verified bug reports.

[2020-12-25 11:58] pavlenex commented on #27
Can't replicate. Most people reporting these issues either have outdated version of fw or don't know they need to confirm export public key on the device and wait too long.

[2020-12-25 11:59] pavlenex commented on #26
ping @nichlor please if you resolved your issue let us know so we can close it.

[2020-12-26 02:53] NicolasDorier commented on #27
would be nice to at least understand where it comes from so can get better error message

[2020-12-31 04:02] NicolasDorier commented on #27
@britttttk I remember you could not reproduce on mac, but were you running latest of both Vault and Ledger firmware/app?

[2020-12-31 05:19] britttttk commented on #27
@NicolasDorier I tried to reproduce it with:
Vault: v1.0.7
BTCPay: v1.0.6.4
Ledger Nano S: firmware v1.5.5, Bitcoin v1.3.13
MacOS: Catalina 10.15.7

I'll update my ledger firmware to try it.. but @aaronzomback what version of BTCPay is this happening for you?

[2021-01-07 13:18] aaronzomback commented on #27
@britttttk I'm running

BTCPay v1.0.6.4
Vault: v1.0.7
Ledger Nano S: firmware v1.6.1 (most recent as of 1/7/21), and Bitcoin v1.5.4
MacOS: HighSierra 10.13.6

[2021-01-09 10:58] NicolasDorier commented on #27
ping @britttttk  could repo/debug?

[2021-01-31 12:41] maltokyo opened #29 "Cant sign transaction"
Get this error constantly, even when Vault is running.  Please see screenshot.

![image](https://user-images.githubusercontent.com/1388507/106384189-e961a900-63c9-11eb-8b35-82bfbe75c1ad.png)

[2021-02-02 01:21] NicolasDorier commented on #29
Have you tried refreshing the page? Have you tried a different browser? Which browser are you using?

[2021-02-02 01:29] NicolasDorier commented on #27
Ping @aaronzomback are you tech savy enough to build the project in Debug and run it. It seems @britttttk does not manage to repro.

You just need .NET SDK 3.1, then run `dotnet run` in the `BTCPayServer.Vault` folder. You should then see debug logs that should help us.

[2021-02-02 05:04] maltokyo commented on #29
Chrome on Mac. Yes tried logging in and out of BTCPay server a few times.

[2021-02-02 10:00] britttttk commented on #27
@aaronzomback I updated everything to the latest. Can you try to run Vault from your terminal. If it's in your Applications: please try `/Applications/BTCPayServer\ Vault.app/Contents/MacOS/BTCPayServer.Vault` it will output some debug logs.

Does it happen for every kind of wallet you try to generate? Do you make it to this screen or it fails before?
![Screen Shot 2021-02-02 at 2 59 16 AM](https:

[2021-02-02 10:20] pavlenex commented on #27
@britttttk would be good to write up how to find debug logs in the [issue template ](https://github.com/btcpayserver/BTCPayServer.Vault/blob/master/.github/ISSUE_TEMPLATE/----bug-report-.md)

[2021-02-02 12:01] aaronzomback commented on #27
@NicolasDorier I'm studying to become computer scientist/developer so I'm learning new things every day and will be glad to help the community with this.

When I run vault from my terminal, should I have my ledger connect via usb to my computer?

I was actually able to configure xpub and connect to my BlueWallet just fine.

[2021-02-02 13:02] NicolasDorier commented on #27
@britttttk @aaronzomback you need to download .NET Core 3.1, clone this repo, then run `dotnet run` from inside the `BTCPayServer.Vault` directory.

Without this, you don't have debug logs.

Just run Vault like this, plug ledger, then try again to add your xpub via btcpay.

[2021-02-02 13:15] NicolasDorier commented on #29
tried on firefox?

[2021-02-02 13:46] maltokyo commented on #29
In the meantime I just signed with electrum instead ;)
Next time I need to send some sats (rare case!;) I'll try on multiple browsers. Is there any way I can get a debug log of what's going on there?

[2021-02-02 13:53] aaronzomback commented on #27
@NicolasDorier followed all your instructions and cloned this repo, but I'm getting this error in the CLI

`Couldn't find a project to run. Ensure a project exists in /Users/aaronzomback/Sites/BTCPAY/BTCPayServer.Vault, or pass the path to the project using --project.`

[2021-02-02 13:55] NicolasDorier commented on #27
@aaronzomback go in the BTCPayServer.Vault in the repo so `BTCPayServer.Vault/BTCPayServer.Vault`

[2021-02-02 14:01] aaronzomback commented on #27
@NicolasDorier is there a specific project I should run within that final cd?

I'm getting this message when entering `dotnet run`

`Specify which project file to use because /Users/aaronzomback/Sites/BTCPAY/BTCPayServer.Vault/BTCPayServer.Vault contains more than one project file.`

The first time I entered I receveived the above message followed by
`Unhandled exception. System.NullReferenceExcep

[2021-02-02 14:56] NicolasDorier commented on #27
@aaronzomback  `dotnet run BTCPayServer.Vault.csproj`

[2021-02-02 15:17] aaronzomback commented on #27
I tried running that in the dir but still gives me
`Specify which project file to use because /Users/aaronzomback/Sites/BTCPAY/BTCPayServer.Vault/BTCPayServer.Vault contains more than one project file.`

[2021-02-03 06:59] NicolasDorier commented on #27
`dotnet run -p BTCPayServer.Vault.csproj`

[2021-02-05 01:07] NicolasDorier commented on #27
@aaronzomback we found somebody else having the same issue.

It would be helpful if you can help us on finding the issue.

[2021-02-05 12:20] aaronzomback commented on #27
@NicolasDorier

Running `dotnet run -p BTCPayServer.Vault.csproj` in the BTCPayServer repo doesn't seem to be producing anything in my CLI when the vault tries to fetch my ledger device.

If my BTCPayServer is not started the command prompts this...
`dbug: Microsoft.Extensions.Hosting.Internal.Host[1]
      Hosting starting
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]

[2021-02-06 06:05] NicolasDorier commented on #27
@aaronzomback the CLI is crashing? it shows no error?

[2021-02-10 14:01] aaronzomback commented on #27
@NicolasDorier not sure if it's necessarily crashing, but it's true that it shows no error. Are you sure dotnet is the correct debugger?

[2021-02-10 14:19] NicolasDorier commented on #27
@aaronzomback if you run with `dotnet run` you normally see which are the exact parameters I send to hwi and the response.

[2021-02-11 07:22] britttttk commented on #12
This should be complete @pavlenex

[2021-02-11 07:31] britttttk opened #31 "Document how to view View logs"
A few users are asking how to obtain logs to help us debug issues. It would be very helpful to document this process.

Related: #27 #29.

[2021-02-11 11:07] #12 closed

[2021-03-09 13:15] maltokyo commented on #29
@NicolasDorier today a different but similar issue, and in Chrome and FF.
I was signing with a trezor, and it asked me to confirm the passphrase (5 times!) on the trezor screen, I did all 5 times, then it asked to check the final amount and confirm as usual.  Confirmed on trezor, and no response from BTCPay or Vault.  There is something really going wrong, and I cannot work out how to send you any

[2021-03-11 04:20] NicolasDorier commented on #29
I can try to repro, which firmware of trezor are you on?

[2021-03-11 04:22] NicolasDorier commented on #29
Will try to fix, btw I advise you to use coldcard.  This is by far the one who gave us the least headaches.
Ledger is ok-ish, but requires frequent update which is also a pain in the ass... coldcard has been constently working.

[2021-03-21 16:30] nichlor commented on #26
Have not tried to move funds yet using the btc pay interface. Sorry for not closing this out. I'll see if I can try to move funds that way next time.

[2021-05-24 14:13] Eskyee opened #32 "L-BTC Ledger nano s & Jade HWI cold wallet. Asking for BTCPayServer.Vault wallet feature request."
https://github.com/btcpayserver/BTCPayServer.Vault/blob/master/BTCPayServer.Hwi/HardwareWalletModels.cs

btcpay feature request. improving our hardware wallets integrations for liquid. maybe a hotwallet spend function for liquid.
I still have a Ledger nano s for liquid testing.
but still waiting for the next batch of Jade wallet release in June.

improving  l-btc bitcoin liquid on BTCPay, makes it

[2021-05-24 14:20] Kukks commented on #32
* Hot wallets have nothing to do with this repository.
* Jade is not yet supported on hwi
* HWI is Bitcoin only
*  NBitcoin does not support building Elements transactions using TransactionBuilder which NBXplorer uses to construct the transactions for BTCPay.
* NBitcoin does not support PSETs that are needed in BTCPay's wallet services

[2021-05-24 14:28] Eskyee commented on #32
Thanks this sounds like alot of work to be done still.. so I understand now why it's complicated.. because of the high fees I use liquid much more daily now. and lightning ⚡️
Hopefully better integration will come 🙏

[2021-05-27 21:42] ropson56 opened #33 "Hardware Wallet connect issue"
Pls i connected hardware wallet (ledger nano) At the final point of connecting. It shows error message "An unexpected error happened (Exception: Invalid status 6e00)
![image](https://user-images.githubusercontent.com/77845076/119900410-565cf980-bef9-11eb-8efd-40540930f648.png)

Please any idea of what to do. Thank you

[2021-06-01 02:08] #32 closed

[2021-06-06 11:55] NicolasDorier commented on #33
@ropson56 can you try with this pre-release version https://github.com/btcpayserver/BTCPayServer.Vault/releases/tag/Vault%2Fv2.0.1 ?

[2021-06-06 12:01] NicolasDorier commented on #33
I searched a bit about this error. Lot's of people complaining about it.

https://github.com/romanz/trezor-agent/issues/245
https://github.com/romanz/trezor-agent/issues/59
https://github.com/romanz/trezor-agent/issues/119

I don't know if that is related to us. But try the pre-release I sent you above.

[2021-06-08 11:46] ropson56 commented on #33
Hi Nicholas.
Thank you so much
 Issue has been resolved

I had to reach out to someone on Fiverr.

It was a ledger wallet issue

On Sun, Jun 6, 2021, 1:01 PM Nicolas Dorier ***@***.***>
wrote:

[2021-06-10 01:24] NicolasDorier commented on #33
@ropson56 can you tell here what you did to solve the issue?

[2021-06-10 01:24] #33 closed

[2021-06-10 09:23] ropson56 commented on #33
oK.

it was a ledger wallet issue.
not btcpay.
He did it from his end. so i couldn't get to see what he did.
On Wed, Jun 9, 2021 at 6:24 PM Nicolas Dorier ***@***.***>
wrote:

[2021-06-11 15:23] woutersamaey opened #34 "DEB package reports as "Proprietary" license instead of "MIT license"."
DEB package reports as "Proprietary" license instead of "MIT license".

Downloaded the latest DEB file (version 1.0.7) and opened it on my Ubuntu 21.04 desktop.

![image](https://user-images.githubusercontent.com/71019/121710203-a6cb7e00-cad9-11eb-97b6-56e16fddf781.png)

[2021-06-13 03:09] NicolasDorier commented on #34
That's strange the control file is MIT https://github.com/btcpayserver/BTCPayServer.Vault/blob/master/Build/debian-x64/control

[2021-07-02 08:21] yeru83 commented on #27
So quiet... hey, I hope everyone is doing well... any progress on the issue?

[2021-07-02 08:28] yeru83 commented on #26
Wait for it... wait for it... we're on the edge of our seats here.

[2021-07-02 11:55] nichlor commented on #26
haha yeah.

I never got around to this.

yeaaahhh, sorry.

I never got around to this, and wont anytime soon.
Sorry for keeping this cliffhanger open for so long

[2021-07-02 11:55] #26 closed

[2021-07-04 08:52] yeru83 commented on #29
So it sounds like ColdCard connects well with BTCPayserver, Ledger less well, Trezor worst of the three...

[2021-07-05 15:30] Alexbossnice opened #35 "Ledger Nano X not recognized by Vault App"
Hi, i can't add my wallet because Ledger Nano X is not recognized by the vault app.

i have on screen  :

BTCPayServer successfully connected to the vault.
Device found: Unknown
An unexpected error happened. (Unknown device type specified)

**Your  BTCPay Environment (please complete the following information):**

- BTCPay Server Version: v1.1.2.0
- BTCPay Server Vault app version: 1.0.7
- Deploym

[2021-07-05 15:38] NicolasDorier commented on #35
Can you give a try to this Alpha version and let me know? https://github.com/btcpayserver/BTCPayServer.Vault/releases/tag/Vault%2Fv2.0.1

[2021-07-05 15:48] Alexbossnice commented on #35
v2.0.1 tell me : No device connected (but well connected of course).

[2021-07-06 01:51] NicolasDorier commented on #35
@Alexbossnice that's very weird. Did you update the Nano X to latest version?

[2021-07-06 08:09] Alexbossnice commented on #35
Thanks a lot for your reply :

1.3.0 is the lastest version. BTC app open, ledger live working, now it work, i can sync my wallet.

Just name od device found is UNKNOW and name of account list is just numbers and not the names of accounts.

thanks a lot

[2021-07-07 04:09] NicolasDorier commented on #35
This is indeed strange. Hardware wallet regularly breaks things so I keep vault up to date with the latest as much as I can. :(

Everything working fine now? Can you close the issue if that's the case?

[2021-07-07 10:19] #35 closed

[2021-07-09 06:52] NicolasDorier commented on #29
@yeru83 can you try this alpha version and let me know https://github.com/btcpayserver/BTCPayServer.Vault/releases/tag/Vault%2Fv2.0.1 ?

[2021-07-09 06:56] NicolasDorier commented on #34
More details, seems like a bug from ubuntu https://gitlab.gnome.org/GNOME/gnome-software/-/issues/833#note_628721

[2021-07-09 07:00] NicolasDorier commented on #34
Seems to be a wide problem nobody figured out how to solve
https://github.com/webtorrent/webtorrent-desktop/issues/1726

[2021-07-09 07:01] NicolasDorier commented on #34
https://bugs.launchpad.net/ubuntu/+source/software-center/+bug/435183

[2021-07-09 07:03] NicolasDorier commented on #34
Could not find any solution. I guess we'll keep it that way then. :/

[2021-07-09 07:04] NicolasDorier commented on #27
I replied to you on https://github.com/btcpayserver/BTCPayServer.Vault/issues/29

[2021-07-09 07:04] NicolasDorier commented on #27
Closing this one as we got no feedback

[2021-07-09 07:04] #27 closed

[2021-08-16 20:51] PatMulligan opened #36 "How to use Vault application on Raspberry Pi ARM chip"
Is there a documented method or resource on how to implement BTC Pay Server Vault on a Raspberry Pi. I would like to connect my BTCPay Server to my Ledger Nano S and the BTCPay Server Vault on the repo seems to only be for x86 chips. I'm not too technically savvy yet.

I've seen mention of something along the lines of re-building the repo files for ARM architecture.... Is that an easy thing to do?

[2021-08-18 11:20] dennisreimann opened #38 "Signing with Trezor is broken"
**Describe the bug**

Importing a Trezor wallet using the Vault works, but signing a transaction does not.

**Your  BTCPay Environment (please complete the following information):**

- BTCPay Server Version: 1.2.1

- BTCPay Server Vault app version:    2.0.1

- Deployment Method: Dev Env

**Your local environment (please complete the following information):**

- Your operating system: macOS
- Brow

[2021-08-19 09:53] pavlenex commented on #38
cc @NicolasDorier

[2021-08-20 07:13] NicolasDorier commented on #38
checking

[2021-08-20 07:16] NicolasDorier commented on #38
the new release of hwi doesn't see to solve any trezor related stuff... that's weird.

[2021-08-22 16:00] mikeyyyv commented on #38
I'm having the exact same issue here. Thank you.

[2021-08-24 08:02] NicolasDorier commented on #38
@mikeyyyv trying to find out what happened.

[2021-08-24 08:17] NicolasDorier commented on #38
Does the Trezor T has this issue? Sadly I don't have a trezor 1...
Also @mikeyyyv have you tried, in the send wallet, go to advanced and check

![image](https://user-images.githubusercontent.com/3020646/130582186-5ed15538-cf3a-4e22-a595-34d32a487903.png)

[2021-08-24 09:24] NicolasDorier commented on #36
I don't think you need it?

If BTCPayServer is on a raspberry pi it does not matter. The vault is running on the computer browsing the page, which is likely x64.

[2021-08-24 09:29] pavlenex commented on #38
Yes issue reported on Trezor T as well @NicolasDorier.

[2021-08-24 09:40] NicolasDorier commented on #38
I lost the cable, so I need to order a new one. Will take a bit of time to look at it

[2021-08-25 10:12] gruve-p commented on #38
@pavlenex @mikeyyyv @dennisreimann
On Trezor devices its mandatory to include non witness UTXO otherwise signing will always fail:
On the send wallet go to advanced settings and check `Always include non-witness UTXO if available`

[2021-08-25 12:35] dennisreimann commented on #38
@gruve-p @NicolasDorier Yes, I can confirm that setting the "Always include non-witness UTXO" fixes the problem.

Can we circumvent this issue by detecting if it is a hardware wallet that needs this setting and include it later on, instead of relying on the user to know about it and dig it up from the "Advanced settings"?

https://user-images.githubusercontent.com/886/130791384-4311bb03-51bd-4ae4-

[2021-08-25 13:03] gruve-p commented on #38
Maybe best way is if a Trezor device is detected that the checkbox is automatically checked? Or maybe save user preferences when sending so user does not need to check it again?

P.S. This issue was reported to Nicolas on 12 April 2021 (via Mattermost) while porting BTCPayServer.Vault to GRSPayServer.Vault

[2021-08-29 15:58] PatMulligan commented on #36
herp derp, yeah I assumed it was needed on the same device as the server. All good!

[2021-08-29 15:58] #36 closed

[2021-09-05 15:36] elchula76 opened #39 "I cant sign with my bitbox02"
**Describe the bug**

Sign the transaction with BTCPay Server Vault

**Your  BTCPay Environment (please complete the following information):**

- BTCPay Server Version:   V1.2.1.0
- BTCPay Server Vault app version:  V2.0.1
- Deployment Method:        Manual

**Your local environment (please complete the following information):**

- Your operating system Ubuntu 20.04.3 LTS
- Browser:

[2021-09-05 15:49] pavlenex commented on #39
@elchula76 when trying to spend, can you make sure that in the advanced tab `Always include non-witness UTXO if available` is selected?

Also since this is testned, can you provide PSBT (when signing, instead of the hardware wallet, select PSBT and at the bottom of the next page paste PSBT content)

[2021-09-05 18:09] elchula76 commented on #39
when trying to spend, can you make sure that in the advanced tab Always include non-witness UTXO if available is selected?
Yes, it is.

Here u have.

cHNidP8BAHsBAAAAAn2/zEO5/ws7++fTzxBtagwA4N9zec+fGaUSaf+qOmpeAAAAAAD9////xwcEZDVQ49PlcLrBro9medb3v9iyI25aqvdQyahB5tEAAAAAAP3///8BFjIAAAAAAAAWABQwvCumYnvMaf/bbQ/Yhghc9Ah2LAAAAAAAAQEfECcAAAAAAAAWABR+ZUrkb0vwqPQJWT42DUMnAL4kKgEA3wEAAAAAAQFUdW84V+yPnTkPys

[2021-09-05 18:13] elchula76 commented on #39
Right now I was messaging with the bitbox02 support because i have the same issue with wasabi and they found these:

https://github.com/zkSNACKs/WalletWasabi/issues/6303

May be it helps you. Sorry my poor english.

[2021-09-07 05:55] NicolasDorier commented on #39
I don't believe this is the case, on testnet we are using `84'/1'`

ping @benma any issue with hwi-2.0.1 ?

[2021-09-07 05:56] NicolasDorier commented on #39
@elchula76 which kind of wallet is it? Segwit or Segwit P2SH? (if you don't know, share an address with us)

[2021-09-07 06:06] NicolasDorier commented on #39
Also in your wallet's settings, can you share us this

![image](https://user-images.githubusercontent.com/3020646/132292547-291c5687-566a-495b-93ca-507c042d232a.png)

And how did you imported your wallet?

[2021-09-07 06:08] NicolasDorier commented on #39
The error message also indicate about `0'`, but we are normally using `1'` as it should on testnet...

[2021-09-07 08:11] benma commented on #39
@NicolasDorier there is no known issue with the BitBox02 in HWI 2.0.1.

The error message is a generic message and does not necessarily mean the keypath is wrong. @elchula76 please answer the questions above so we can get more hints.

Also, if there is a way to export and post a PSBT that can't be signed, please do so (can also be from a new test wallet for privacy, but it would help a lot with de

[2021-09-07 09:02] elchula76 commented on #39
Good morning, The wallet may be single sign segwit, there u have an adress: tb1qhejfmq3mfzgfncwdne7fwpyqx8rqxjw7dyf7j6
I am just a newby technical user (since DOS) with a lot experiences working with a lot kind of software but i never be a developer and I really dont know what kind of info I can share without compromise my privacy and security,

[2021-09-07 09:08] benma commented on #39
@elchula76 as I mentioned, you could make a new wallet (seed) to share the seed and a PSBT with us that does not work, so we can take a look.

Also please provide this: https://github.com/btcpayserver/BTCPayServer.Vault/issues/39#issuecomment-914017622

[2021-09-07 09:10] NicolasDorier commented on #39
Can you export PSBT by doing this:

![image](https://user-images.githubusercontent.com/3020646/132318025-725f400a-5539-40cf-8a41-6b8ba9e84afd.png)

Then scroll down the page and copy paste

![image](https://user-images.githubusercontent.com/3020646/132318100-aaf2b981-7512-4123-8d53-22ca42e2269e.png)

[2021-09-07 09:12] elchula76 commented on #39
Account key path: m/84'/1'/0'
And how did you imported your wallet? Iḿ running a testnet core working fine with specter and my bitbox02, I do a normal import from my bitbox02, two times becouse the first time I think that i done something wrong. My specter key path with the same HW and the same procedure is m/84h/1h/0h and it work perfect.

[2021-09-07 09:15] NicolasDorier commented on #39
@elchula76 ` I do a normal import from my bitbox02,`: You mean with the BTCPay Server Vault?

What you did seem right to me.

If you can share us https://github.com/btcpayserver/BTCPayServer.Vault/issues/39#issuecomment-914132811
I can take a look.

[2021-09-07 09:15] elchula76 commented on #39
Can I use the same wallet? It just a test, i m trying to learn how to create and use a store with btcpay

[2021-09-07 09:16] NicolasDorier commented on #39
yes, you can use same wallet

[2021-09-07 09:18] elchula76 commented on #39
Tell me if this is what u need

{
  "fee": "0.00000178 BTC",
  "feeRate": "1 Sat/B",
  "tx": {
    "hash": "22488e26cc62d7d384bdff6bef747e9b11af96d1aa59799061aef27dbe9e9b86",
    "ver": 1,
    "vin_sz": 2,
    "vout_sz": 1,
    "lock_time": 0,
    "size": 123,
    "in": [
      {
        "prev_out": {
          "hash": "d1e641a8c950f7aa5a6e23b2d8bff7d679668faec1ba70e5d3e35035640407c7",
          "

[2021-09-07 09:25] elchula76 commented on #39
You mean with the BTCPay Server Vault?
Yes, with the latest version of btcpayserver vault

[2021-09-07 09:37] NicolasDorier commented on #39
@elchula76 can you copy paste not this, but scroll down and there is some base64 string that you can copy. Look the screen I show you above.

[2021-09-07 09:40] elchula76 commented on #39
These one?

cHNidP8BAHsBAAAAAscHBGQ1UOPT5XC6wa6PZnnW97/YsiNuWqr3UMmoQebRAAAAAAD/////fb/MQ7n/Czv759PPEG1qDADg33N5z58ZpRJp/6o6al4AAAAAAP////8BFjIAAAAAAAAWABQdJ+2osLpTc+uzhqEDUmQGsXYdNgAAAAAAAQEfuAsAAAAAAAAWABReMGKbAPinXtwLFAWZRBxJi/l+ZAEA3wIAAAAAAQGeZH67YrfH319At0tHdq48vgIgfHbaJYziJJAZ6JZ1LgAAAAAA/f///wK4CwAAAAAAABYAFF4wYpsA+Kde3AsUBZlEHEmL+X5kVCkAAAAAAAAWABS5BLwL0X273P+jSH0EC+z+IkUocQJIMEUCIQDPRymc

[2021-09-07 09:40] NicolasDorier commented on #39
yes thanks one moment please

[2021-09-07 09:43] NicolasDorier commented on #39
it seems to me correct PSBT.
I will try to sign with another hardware wallet on btcpay, to make sure that this is not a bug from our end. If it works, then maybe some issue on bitbox2.

[2021-09-07 09:56] elchula76 commented on #39
I dont know if helps u but with specter I have these: Test | Single (Segwit) | m/84h/1h/0h; the same key path and i can send and receive transaction with the same bitbox02.

[2021-09-07 09:56] NicolasDorier commented on #39
@benma it seems his PSBT is correct.
I tried to replicate the bug with a coldcard on https://testnet.demo.btcpayserver.org/ but it worked properly.

Can you take a look at it? (if you use Brave, think of removing the shield)

[2021-09-07 09:57] elchula76 commented on #39
I try it with firefox to

[2021-09-07 10:01] elchula76 commented on #39
I try the same removing the shield and againg-.

Device found: Unknown
An unexpected error happened. (Input error: error code: 103, message: generic error. A keypath might be invalid. Supported keypaths are: m/49'/0'/ for p2wpkh-p2sh; m/84'/0'/ for p2wpkh; m/48'/0'//2' for p2wsh multisig; m/48'/0'//1' for p2wsh-p2sh multisig; m/48'/0'/' for any supported multisig; account can be between 0' and 99'

[2021-09-07 10:05] elchula76 commented on #39
I try to test the bitbox02 at the same link but it doesnt work because the server vault dont work at these link

[2021-09-07 10:07] NicolasDorier commented on #39
@elchula76 I think this is something wrong with the bitbox02 at this point. Let's wait if @benma can repro.

[2021-09-07 10:09] elchula76 commented on #39
ok thanks, If i can help u, iḿ here working with your great work.

[2021-09-07 16:03] benma commented on #39
@NicolasDorier I ran `dotnet run -p BTCPayServer.Vault.csproj ` and used the test site you mentioned, but I can't get past this after accepting the connection in Vault:

![](https://user-images.githubusercontent.com/1225267/132376103-23f58f8c-f325-492b-a8c9-ce51b48c1354.png)

Any other quick ways to test signing here?

@elchula76 can you share your mnemonic seed (if only used for testing purposes)

[2021-09-07 22:40] elchula76 commented on #39
I don't know if helps you but I use the same seed with electrum with mi bitbox02 HWW and it works fine signing the transaction.
Two software signing fine at the same node with the same seed in bitbox02 (specter and electrum) and two (wasabi and btcpayserver) with exactly the same issue. If u want the seed i can send you but i dont want to do that here, i dont feel comfortably.

[2021-09-08 02:03] NicolasDorier commented on #39
@benma that's strange error, I never saw this. Do you have a stacktrace in the javascript console?

[2021-09-08 08:43] elchula76 commented on #39
Good morning, I was trying to get my wasabi wallet with electrum thats work fine doing the same to get the btcpar wallet, but when i try I have these diference with the key path and if I try to change it it doesnt work and I have these error... may be it helps to undestand what happend... If some one of you give me an email adress I send u the seed. thanks.
![photo_2021-09-08_10-38-12](https://use

[2021-09-08 08:49] elchula76 commented on #39
I always filled the box of non_witness_utxo, but i never try to sign the transaction with PSBT, I really dont know how it works and I dont know if bitbox02 can... I will try.

[2021-09-10 10:22] benma commented on #39
@NicolasDorier I added a testnet bitbox02 wallet, received some coins, made a tx, and I can reproduce the same error.

However, when I copy the generated PSBT and run it on the command line like this:

[code]

The transaction is displayed on the device and can be signed normally.

This means that somehow BTCPayServer.Vault is invoking HWI in the wrong way. Maybe missing the `--chain test` param or

[2021-09-16 17:54] benma commented on #39
@NicolasDorier did you get a chance to take a look? As mentioned, the exported PSBT and everything on the HWI side seems okay.

[2021-09-27 09:51] rushi147 opened #40 "how to transfer BTC from Btcpay server to other wallet"
hello team

i dont have any idea about btcpay send payment when i am try to send btc from btcpay to other  address its showing some error please guide me step by step even i dont have hardware wallet please also know how to setup

Thanks

![BTCPay send error](https://user-images.githubusercontent.com/76051092/134886088-9cdb52de-c3ef-4087-b595-4ac0f0056884.jpg)

**Describe the bug**

**Your  BTCPay

[2021-09-27 11:09] rushi147 commented on #40
Hardware wallet name: Electrum
Hardware wallet version: 4.1.5

    Your operating system win 10
    Browser: firefox

[2021-10-01 13:28] NicolasDorier commented on #39
sorry about this, I forgot this. I'll need to try, but my bitbox2 is at the office. I'll try to get it monday and repro.

[2021-10-01 13:29] NicolasDorier commented on #39
@elchula76 if can you ping me on https://chat.btcpayserver.org/ so I don't drop the ball?

[2021-10-12 18:42] elchula76 commented on #39
Done

El vie, 1 oct 2021 a las 15:30, Nicolas Dorier ***@***.***>)
escribió:

[2021-10-18 21:24] piliugin-anton commented on #38
Did you tried to report the problem to Trezor team?

[2021-11-11 08:31] NicolasDorier commented on #38
@piliugin-anton they probably know already about it, but won't fix it. Ask them why their wallet requires the previous tx and not only non_witness_utxo.

[2021-11-11 12:20] gruve-p commented on #38
cc @prusnak @matejcik

[2021-11-11 12:27] prusnak commented on #38
We need previous TX to mitigate the design flaw of Bitcoin which makes it possible to steal user funds via really high transaction fee.

Good news is that the issue will be fixed with Taproot. When all inputs are Taproot then it is not required to provide previous TX to Trezor device.

[2021-11-15 10:44] petzsch opened #41 "Support Taproot/bech32m addresses"
With the bitcoin 2.0.0 app on the ledger nano s it should be possible to create taproot/bech32m addresses. However either the btcpayserver UI or the BTCPayServer.Vault is currently not supporting it.

Can we get an update for this?

[2021-12-10 04:11] NicolasDorier commented on #41
we really depends on hwi doing the job https://github.com/bitcoin-core/HWI I think it will be one or two year process to support taproot for hardware.

[2022-05-21 18:18] smalloy84 opened #42 "."

[2022-05-23 20:41] tmcphail67 opened #43 "Ledger Nano S - No device connected"
I have connected my Ledger Nano S(Latest firmware installed) to my Windows 10 PC - (Chrome or Firefox) with BTCPayServer Vault installed and running.  I have turned off Ledger Live as well.  With the Ledger on and Bitcoin active I attempt to add it to my store wallet and get the error "No device connected.  Any help would be appreciated!!

- BTCPay Server Version:    1.5.2
- BTCPay Server Vault ap

[2022-05-24 09:38] #42 closed

[2022-05-24 20:29] tmcphail67 commented on #43
I realized I left out the Ubuntu version I am running on is 22.04.

[2022-05-25 03:01] NicolasDorier commented on #43
So there are currently problems with the new bitcoin app and signing caused by ledger breaking their app compatibility (https://github.com/btcpayserver/BTCPayServer.Vault/issues/43)

I would not expect the vault to not find your device, but even if it did, I think you would get issues down the road.

I really advise you to use coldcard instead of ledger. Ledger is nothing but trouble as they don't

[2022-05-25 03:30] tmcphail67 commented on #43
Thank you for the response.  I really appreciate it.  We are planning to begin marketing these services to online and brick and mortar businesses soon.  My recommendation to our customers, whether we do an onsite install or they use our instance remotely is for them to use a hardware wallet. I can do a new install on Ubuntu 20.04 if you think that would help. If you would like access to our test i

[2022-05-25 03:51] NicolasDorier commented on #43
For this, you need to enable ssh access to the host:

[code]

[2022-05-26 02:53] NicolasDorier commented on #43
@tmcphail67 can you open a separate issue in https://github.com/btcpayserver/btcpayserver for this ?

[2022-05-26 02:54] NicolasDorier commented on #43
About the vault, I released a new version https://github.com/btcpayserver/BTCPayServer.Vault/releases/tag/Vault%2Fv2.0.2 I don't think it will work, but you can try.

If your wallet isn't detected, try to plug it in a different USB port.

[2022-05-31 15:44] #43 closed

[2022-06-15 05:08] Gam3356 commented on #43
Thank you gut!

[2022-06-15 19:57] Gam3356 opened #44 "jækønklkgkhhkvjkjj"
**Describe the bug**

**Your  BTCPay Environment (please complete the following information):**

- BTCPay Server Version:
- BTCPay Server Vault app version:
- Deployment Method:

**Your local environment (please complete the following information):**

- Your operating system
- Browser:

**Your hardware wallet details  (please complete the following information):**

- Hardware wallet name:
- Hardwa

[2022-06-16 00:56] #44 closed

[2022-06-17 04:49] petzsch commented on #41
you include a HWI version that supports taproot now, but something else still seems missing.

[2022-06-17 04:51] petzsch opened #45 "BTCPayServer.Vault won't start on Ubuntu 22.04"
This is what I get:

markus@markus-IdeaPad-5-15ARE05:~$ BTCPayServer.Vault
No usable version of libssl was found
Aborted (core dumped)

Apparently it's linked to a different libssl version. Hope there is an easy fix for it.

[2022-06-20 05:42] NicolasDorier commented on #41
yes, I need to improve NBXplorer to include some additional data in PSBT.

[2022-06-20 06:05] NicolasDorier commented on #45
[code]

[2022-06-20 06:24] #45 closed

[2022-07-04 10:13] zeddy1 opened #48 "Vault 2.0.3 does not start in Windows 11"
**Describe the bug**

**Your  BTCPay Environment (please complete the following information):**

- BTCPay Server Version:    1.5.4.0
- BTCPay Server Vault app version:  2.0.3
- Deployment Method:  Docker

**Your local environment (please complete the following information):**

- Your operating system Windows 11
- Browser: Chrome

**Your hardware wallet details  (please complete the following infor

[2022-07-15 06:03] NicolasDorier commented on #48
you are right, will check

[2022-07-15 07:09] NicolasDorier commented on #48
Fixed in 2.0.4, it was caused by binary trimming that is a bit aggressive in .net6.0. The binaries are a bit bigger now. Will try to put it back later.

[2022-07-15 07:09] #48 closed

[2022-08-02 03:28] Philepe25 opened #51 "Transfer - Dropbox"
https://www.dropbox.com/transfer/manage?transfer_id=AAAAANtlRdLvIVz_XUh-Eg1GkhdNSO6DQN8yLYWWYYmkUrhLYTg8Uhg

[2022-08-03 23:42] McFitty21 opened #52 "Cant sign a transaction on Ledger Nano X"
**Describe the bug**

Im trying to send BTC through BtcPayServer.Vault to a different address. When I go to "Bitcoin" it starts fetching the device, connects it and then I receive a message "Derivatation Path is unusal". If I accept it on my Ledger I get a error on BTCPayServer Overwie saying I refused to sign it. The derivation Path is 44`. If I try it again I dont receive anything anymore to sig

[2022-08-03 23:49] McFitty21 commented on #52
Tried 2.0.1 and it works but it shows a weird output of 0.01 BTC going somewhere.

[2022-09-04 08:40] tobq commented on #9
@NicolasDorier any solutions?

[2022-10-06 15:21] Evbald opened #53 "Bitcoin bonus withdraws lol"
How to?

[2022-10-06 15:26] pavlenex commented on #53
It's a scam, don't send money to them.

[2022-10-06 15:26] #53 closed

[2022-10-06 15:45] Evbald commented on #53
Thanks

[2022-10-20 12:12] pavlenex opened #54 "Show a warrning about BTCPay Vault limited/no support on Safari"
![Screenshot 2022-10-20 at 14 01 49](https://user-images.githubusercontent.com/36959754/196945073-5d187c98-ef9b-474c-856c-e1b008d19ec3.png)

https://bugs.webkit.org/show_bug.cgi?id=171934

[2022-10-20 14:00] NicolasDorier commented on #54
Vault can't work on Safari, as it doesn't support mixed content on localhost. I think we should show a warning message if we detect that the user run safari.

[2022-10-20 16:18] pavlenex commented on #54
Sure.

[2022-10-21 07:13] #54 closed